<div class="container"></div>
    <h3 class="text-center">Contacts Page</h3>
    
<%= form_for "/contacts" do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    
    <%= f.label :email %>
    <%= f.text_field :email %>
    
    <%= f.label :email %>
    <%= f.text_field :email %>
    
    <%= f.submit 'Submit' %>
<% end %>

</div>
